.music-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 30px;
}
h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

h5 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
}

.h-submit {
    width: 260px;
    background-color: #0a0a13;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
}
.music {
    display: block;
    gap: 1rem;
}

.spacer {
    height: 20px;
    display: block;
    width: 100%;
    margin: 0 auto;
    content: "",
}

.latest {
    font-size: 20px;
    background-color: #000;
    color: #fff !important;
    margin: 10px 10px;
    width: 200px;
    border-radius: 3px;
    z-index: 1000;
}

.music a {
    color: rgb(65, 61, 61);
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}

.music a:hover {
    text-decoration: underline;
}

/*----- MEDIA QUERIES TABLET (MEDIUM DEVICES)-------*/
@media screen and (max-width: 1200px) {
    .music-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img {
        width: 350px;
        height: 330px;
    }

    
}

@media screen and (max-width: 1024px) {
    .music-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img {
        width: 300px;
        height: 300px;
    }
    
}

@media screen and (max-width: 952px) {
    .music-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img {
        width: 240px;
        height: 240px;
    }
}

/*----- MEDIA QUERIES PHONES (SMALL DEVICES)-------*/
@media screen and (max-width: 768px) {
    .music-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .img {
        width: 660px;
        height: 400px;
    }
    h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 700px) {
    .img {
        width: 550px;
        height: 400px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .img {
        width: 450px;
    }

    h1 {
        font-size: 25px;
    }
    
}
@media screen and (max-width: 300px) {
    .img {
        width: 300px;
        height: 320px;
    }

    h1 {
        font-size: 25px;
    }
    
}
