.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video {
    gap: .2rem;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

.iframe-2 {
    width: 90% !important;
}
/*----- MEDIA QUERIES TABLET (MEDIUM DEVICES)-------*/
@media screen and (max-width: 1200px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }

    iframe {
        width: 350px;
        height: 330px;
    }

    .frame-2 {
        height: 500px;
    }

    
}

@media screen and (max-width: 1024px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }

    iframe {
        width: 300px;
        height: 300px;
    }
    .frame-2 {
        height: 380px;
    }
    
}

@media screen and (max-width: 952px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }

    iframe {
        width: 240px;
        height: 240px;
    }
    .frame-2 {
        height: 380px;
    }
}

/*----- MEDIA QUERIES PHONES (SMALL DEVICES)-------*/
@media screen and (max-width: 768px) {
    .video-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    iframe {
        width: 660px;
        height: 400px;
    }
    .frame-2 {
        height: 350px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 700px) {
    iframe {
        width: 550px;
        height: 400px;
    }
    .frame-2 {
        height: 350px;
    }

    h1 {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 600px) {
    iframe {
        width: 420px;
        height: 320px;
    }
    .frame-2 {
        height: 350px;
    }
    
    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 300px) {
    iframe {
        width: 320px;
        height: 320px;
    }
    .frame-2 {
        height: 320px;
    }
    h1 {
        font-size: 25px;
    }
    
}