.footer {
    background-color: black;
    height: 450px;
    width: 100%;
    bottom: 0;

}

iframe {
    margin-top: 1px;
}

a {

    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

a:hover {
    color: gray;
}

.admin {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    
}


